Package: rasterblocks
Version: %VERSION%
Depends: 
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Joseph Lunderville <jlunder@catfish.dhs.org>
Description: Make flashy lights to music
