[Unit]
Description=Rasterblocks Configuration Server
After=syslog.target basic.target sound.target

[Service]
ExecStart=/usr/bin/node /usr/lib/rasterblocks/nodeserver/server.js /var/lib/rasterblocks/config.json
Restart=on-abort
WorkingDirectory=/usr/lib/rasterblocks/nodeserver

[Install]
WantedBy=multi-user.target
