[Unit]
Description=Rasterblocks
After=syslog.target basic.target sound.target #rasterblocks-nodeserver.service

[Service]
ExecStart=/usr/lib/rasterblocks/rasterblocks
Restart=on-abort

[Install]
WantedBy=multi-user.target
