[Unit]
Description=CMPT433 Stage Lights
After=syslog.target basic.target sound.target rasterblocks-nodeserver.service

[Service]
ExecStart=/usr/lib/rasterblocks/rasterblocks
Restart=on-abort

[Install]
WantedBy=multi-user.target
