Package: rasterblocks
Version: 1.1
Depends: nodejs, npm
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Team 7
Description: Make flashy lights to music
