[Unit]
Description=CMPT433 Stage Lights
After=syslog.target basic.target sound.target stage-lights-nodeserver.service

[Service]
ExecStart=/usr/lib/stage-lights/stage-lights
Restart=on-abort

[Install]
WantedBy=multi-user.target
